.header-test{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.login-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login {
    text-align: center;
   width: 150px;
    
}

.loginText {
    color: white;
    font-size: 14px;
    margin-bottom: 5px;
    
}
.login button {
    height: 30px;
    color: white;
    background: #2a00B7;
    border-radius: 50px;
    border-color: white;
    font-size: 14px;
    cursor: pointer;
    text-align: center;

}
.header-box {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header {
    margin: auto;
    width: 150px;
}

.headerText{
    color: white;
    font-size: 48px;
    font-weight: 700;
}

.headerUnderline {
    width: 200px;
    height: 6px;
    background-color: white;
    border-radius: 9px;
}


.createButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    color: white;
    background: #2a00B7;
    border-radius: 50px;
    border-color: white;
    font-size: 17px;
    cursor: pointer;
}

.mainContent {
    background: linear-gradient(#eaeaea, #2a00B7);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 20px;
}

.column {
    
    margin: 0 10px;
}

.column-title {
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    background-color: #2a00B7;
}

.column-title-underline{
    width: 100px;
    height: 6px;
    background-color: #2a00B7;
    border-radius: 9px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
}
.toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    color: #797979;
    background: #eaeaea;
    border-radius: 50px;
    border-color: white;
    font-size: 17px;
    cursor: pointer;
}
.toggled {
    color: #eaeaea;
    background: #797979
}

.reset {
    background-color: black;
    color: white;
    border-color: black;
}

.search-button {
    background: green;
    border-radius: 50px;
    margin-right: 5px;
    margin-left: 5px;
    border-color: white;
    color: white;
}
.clear {
    background: yellow;
    color: black;
}
/* MEDIA QUERIES */

@media screen and (max-width: 1600px) {
    .mainContent {
      grid-template-columns: repeat(4, 1fr); 
    }
  }

  @media screen and (max-width: 1250px) {
    .mainContent {
      grid-template-columns: repeat(2, 1fr); 
    }
  }

  @media screen and (max-width: 768px) {
    .mainContent {
      grid-template-columns: repeat(1, 1fr); 
    }
  }
